html, body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    min-width: 320px;
    overflow-x: hidden;
    font-family: Arial, "Trebuchet MS";
    -webkit-overflow-scrolling: touch;
}

.app{
    position: relative;
    top: -20px;
    padding: 0!important;
    border-radius: 0!important;
}

.navbar-toggle:hover,
.navbar-toggle:focus{
    background-color: rgba(255,255,255,0)!important;
}

button span{
    background-color: white!important;
}

nav .container-fluid{
    box-shadow: 1px 2px 10px 1px grey;
}

.navbar{
    background-color: #0262B6 !important;
    border: none!important;
    border-radius: 0!important;
}

.logo-container{
    padding-right: 20px;
    color: #fff;
}

.logo-icon{
    padding: 10px;
    font-size: 2.2em;
}

.logo-text{
    font-size: 1.5em;
    text-transform: capitalize;
}

.a{
    color: white!important;
    font-weight: bold!important;
}

.active .a{
    color: #0262B6 !important;
    background-color: rgba(255,255,255,.6) !important;
}

main{
    padding: 0 10px;
}

img{
    max-height: 100px;
    max-width: 100px;
    border-radius: 50%;
}

.online-back{
    background-color: #1ABC9C;
}

.offline-back{
    background-color: #D35400;
}

.no-logo{
    display: inline-block;
    font-size: 7em;
}

.items{
    margin: 0 auto!important;
    margin-bottom: 20px;
    padding: 20px;
    width: 90%;
    min-width: 320px;
    max-width: 800px;
    border-bottom: 5px solid #2C3E50;
}

.item-text{
    text-align: center;
    line-height: 4;
    font-size: 1.2em;
    color: white;
    background-color: #2C3E50;
    background-color: #092B40;
}

.card-container{
    padding: 10px!important;
}

.header{
    position: relative;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.user-card{
    border: 1px solid lightgrey;
    transition-duration: .3s;
}

.header span{
    position: absolute;
    top: 0;
    right: 0;
    border-top: 35px solid transparent;
    border-left: 35px solid white;
}

.followers-container{
    margin-top: 15px;
}

.account-not-active{
    position: relative;
    font-weight: bolder;
    font-size: 1.2em;
    color: white;
    background-color: #D35400;
}

@media screen and (min-width: 768px) {
    .user-card:hover{
        cursor: pointer;
        border: 1px solid #2C3E50;
        box-shadow: 0px 0px 7px 1px #2C3E50;
    }
}
