html, body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    min-width: 320px;
    overflow-x: hidden;
    font-family: Arial, "Trebuchet MS";
}

header{
    position: relative;
    top: -20px;
    background-color: #0262B6;
    color: white;
}

.a{
    position: relative;
    color: white;
    font-weight: bold!important;
}

nav{
    top: 1px;
}

img{
    max-height: 100px;
    max-width: 100px;
    border-radius: 50%;
}

.online-back{
    background-color: #1ABC9C;
}

.offline-back{
    background-color: #D35400;
}

main{
    width: 100%;
}

.no-logo{
    display: inline-block;
    font-size: 7em;
}

.items{
    margin: 0 auto!important;
    margin-bottom: 20px;
    padding: 20px;
    width: 90%;
    min-width: 320px;
    max-width: 800px;
    border-bottom: 5px solid #2C3E50;
}

.item-text{
    text-align: center;
    line-height: 4;
    font-size: 1.2em;
    color: white;
    background-color: #2C3E50;
    background-color: #092B40;
}

.card-container{
    padding: 20px!important;
}

.header{
    position: relative;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.user-card{
    border: 1px solid lightgrey;
}

.user-card:hover{
    cursor: pointer;
    border: 1px solid #2C3E50;
    box-shadow: 1px 2px 3px 1px #2C3E50;
}

.header span{
    position: absolute;
    top: 0;
    right: 0;
    border-top: 35px solid transparent;
    border-left: 35px solid white;
}

.followers-container{
    margin-top: 15px;
}

.account-not-active{
    position: relative;
    font-weight: bolder;
    font-size: 1.2em;
    color: white;
    background-color: #D35400;
}

@media screen and (max-width: 768px) {
    nav{
        top: 28px;
    }
}

@media screen and (max-width: 388px) {
    .a{
        font-size: 1em!important;
    }

    h1{
        display: none;
    }

    nav{
        width: 100vw!important;
        top: 1px;
    }
}
